<h1>Host City</h1>
<h2>Melbourne</h2>
<p>Melbourne is a creative, exciting, ever-changing city with extraordinary surprises to be discovered in every basement, rooftop and laneway. You just have to be curious enough to venture off the beaten path. The possibilities are endless, so forget what you think you know. Take a chance, roll the dice and see where it leads you.</p>
<p>Venture into Melbourne's basements, rooftops and laneways and discover gourmet feasts and fine wines, dynamic events, secret bars, boutiques and more.</p>
<%= image_tag("melbourne-images.jpg", :size => "547x401 ", :alt => "Images of Melbourne") %>
<h3>Pre & Post Touring Options</h3>
<p>Voted many times over as one of the world?s most liveable cities, Melbourne (the capital of the State of Victoria) is celebrated for its friendly locals, efficient services, fine wine and dining, and world-class facilities.</p>
<p>Few places can match the vast natural diversity on offer in Victoria.</p>
<p>From surfing the world-famous Bells Beach surf coast, to skiing at Mt Buller, from enjoying an Aussie barbecue at Emu Bottom homestead, to learning to make wine on the Mornington Peninsula , Victoria offers unique experiences which capture the imagination.
Natural wonders abound, such as the Great Ocean Road, which offers breathtaking sea views and a welcome change of pace. The majestic Murray River , with its awe-inspiring sunsets, stretches along the top of the state, while The Grampians region offers ancient and expansive landscapes.</p>
<p>For a splash of indulgence, board a luxury charter and discover Port Phillip Bay in Style. Swim with dolphins and seals, snorkel, or simply soak up the sun out on the deck. Visit Domaine Chandon, one of the Yarra Valley's stunning vineyards, for world celebrated sparkling wine, and gourmet platters filled with fresh, local produce.</p>
<p>Wind down with a treatment at an award-winning Daylesford Day Spa, or by teeing off at one of Australia?s top 10 golf courses, such as the Shearwater Cape Schanck Resort, surrounded by spectacular ocean views and magnificent natural landscapes.</p>
<p>Whether discovering Australia?s gold-mining history at an historical township such as Ballarat, or getting up close and personal with wildlife and penguins at Phillip Island Nature Parks, visit regional Victoria for an unforgettable experience of Australia.</p>
<p>For further information on Melbourne and it's transportation, touring information and accommodation visit the below links:</p>
<ul>
  <li><%= link_to "Tourism Melbourne", "http://www.visitmelbourne.com", :target => '_blank' %></li>
  <li><%= link_to "City of Melbourne", "http://www.melbourne.vic.gov.au/", :target => '_blank' %></li>
  <li><%= link_to "Melbourne Online", "http://www.melbourne.com.au", :target => '_blank' %></li>
  <li><%= link_to "Visit Victoria", "http://www.visitvictoria.com.au", :target => '_blank' %></li>
</ul>
<p>The <%= link_to "Melbourne Visitor Centre", "http://www.thatsmelbourne.com.au", :target => '_blank' %> is also conveniently situated on the corner of Swanston and Flinders Streets directly across from Flinders Street Station. Staff provide information and advice on what to see and do in Melbourne and across Victoria.</p>
<p>T: +61 3 9658 9658<br>E: <%= mail_to "tourism@melbourne.vic.gov.au" %></p>
<h3>Top 20 Things to Do in Melbourne</h3>
<ol>
  <li>Stroll, skate or soak up the sun on the St Kilda beach promenade</li>
  <li>Discover Australia's Aboriginal culture on a Koorie Heritage Walk</li>
  <li>Dine in the Colonial Tramcar Restaurant, travelling city streets while you enjoy local cuisine</li>
  <li>Meet multicultural Melbourne at the Queen Victoria Market</li>
  <li>See the city from ?The Edge?, 88 stories up in the Eureka Tower</li>
  <li>Capture the city spirit at Federation Square, home to galleries, caf&eacute;s, bars and live entertainment</li>
  <li>Eat, drink and live like a local in Melbourne's sophisticated secret laneways</li>
  <li>Swim with sea horses around the piers of the Mornington Peninsula</li>
  <li>Capture culture at the National Gallery of Victoria, with art spanning the globe</li>
  <li>Meet native and exotic animals or picnic over jazz at the Melbourne Zoo</li>
  <li>Discover the Melbourne Story at the Melbourne Museum</li>
  <li>Tee off at one of 15 championship golf courses around Melbourne</li>
  <li>Take time out at one of Melbourne's seaside day spas</li>
  <li>Experience caf&eacute; culture on Lygon Street - Melbourne's 'Little Italy'</li>
  <li>See a show at a world-class theatre as Broadway comes to Melbourne</li>
  <li>Live the sporting passion at the Melbourne Cricket Ground and National Sports Museum</li>
  <li>Drive a lap around Albert Park Lake, home to the Australian Formula 1? Grand Prix</li>
  <li>Shop at Melbourne's largest department stores, Myer and David Jones</li>
  <li>Enjoy spectacular water views and stylish restaurants in Docklands</li>
  <li>Join in the festivities at one of Melbourne's many free festivals or public events.</li>
</ol>
<h3>Self-Guided Walks</h3>
<p>Whether you're a local or a visitor, you can see the city with fresh eyes thanks to a range of free self-guided walks brochures. The walks guide you around different localities, including the banks of the Yarra River, the city's arcades and laneways, Melbourne's parks and gardens, and the historic buildings of East Melbourne. The brochures include maps and are available from the Melbourne Visitor Centre or you can obtain them on Melbourne walks.</p>
<%= image_tag("melbourne-images-2.jpg", :size => "547x401 ", :alt => "Images of Melbourne") %>
<h2>Transport</h2>
<h3>Airport Transfers</h3>
<p>The Melbourne Airport is located 20 kilometres to the CBD of Melbourne. Taxis, bus shuttles and car rental are all available from the Airport to the city and hotels.</p>
<h4>Shuttle Bus</h4>
SkyBus offers an express bus service from the airport to the city centre. This service operates 24/7, including all public holidays. Buses run from every 10 minutes throughout the day.
<ul>
  <li>$17 Adult - return $28</li>
  <li>$38 Family 2 (2 adults and 1-4 children) - return $65</li>
  <li>$24 Family 1 (1 adult and 1-4 children) - return $40</li>
  <li>$6.50 Child (4-14 years) - one way</li>
</ul>
Tickets can be purchased on arrival at the bus stop or purchased online at <%= link_to "skybus.com.au", "http://www.skybus.com.au", :target => '_blank' %>.
<p>On arrival at Southern Cross Station in the city, SkyBus provides a complimentary hotel transfer service, subject to availability.</p>
<h3>Car Rental</h3>
<p class="float"><strong><%= link_to "Avis", "http://www.avis.com.au", :target => '_blank' %></strong><br>
  13 63 33</p>
<p class="float"><strong><%= link_to "Budget", "http://www.budget.com.au", :target => '_blank' %></strong><br>
  13 27 27</p>
<p class="float"><strong><%= link_to "Europcar", "http://www.europcar.com.au", :target => '_blank' %></strong><br>
  13 13 90</p>
<p class="float"><strong><%= link_to "Hertz", "http://www.hertz.com.au", :target => '_blank' %></strong><br>
  1300 132 105</p>
<p class="float"><strong><%= link_to "Thrifty", "http://www.thrifty.com.au", :target => '_blank' %></strong><br>
  1300 367 227</p>
<h2>Venue</h2>
<h3>The Sebel & Citigate, Albert Park</h3>
<p>The Conference will be held at the Sebel & Citigate Albert in Melbourne Victoria.</p>
<p>65 Queens Road, Melbourne<br>
Victoria  3004, Australia<br>
T: +61 (3) 8554 2809<br>
W: <%= link_to "mirvachotels.com/citigate-albert-park-melbourne", "http://www.mirvachotels.com/citigate-albert-park-melbourne", :target => '_blank' %></p>
<p>Citigate Albert Park Melbourne is centrally located on Queens Road, minutes from Melbourne's central business district and St Kilda Road.</p>
<p>The accommodation rooms provide a sense of space and comfort, with many rooms overlooking stunning Albert Park Lake or the sunsets over Port Phillip Bay.</p>
<p>The hotel also features Windows Restaurant, Atrium Bar & Lounge, Cafe @ Sebel and also offers a Health Centre with a fully-equipped gymnasium, indoor heated pool, spa and sauna.</p>
<h2>General Information</h2>
<h4>Child Care</h4>
<p>Please note that no official arrangements have been made for child care during the Conference. We suggest you check with your accommodation provider who may be able to assist you further with babysitting services during your stay.</p>
<h4>Communication</h4>
<p>All communication with delegates will be by email, fax or post. If you register and do not receive confirmation within five (5) working days please contact the Conference Management Office.</p>
<h4>Climate</h4>
<p>Melbourne enjoys a temperate climate with a cool winter. Average minimum temperatures in the winter months of June through to August are 6-7 degrees.</p>
<h4>Clothing</h4>
<p>Smart casual dress applies for the conference.  Don?t forget to pack your winter woollies!</p>
<h4>Indemnity</h4>
<p>In the event of industrial disruption or other unforeseen circumstances, the Host, Organising Committee and Tailored Statements accept no responsibility for loss of monies incurred by delay or cancellation.</p>
<h4>Insurance</h4>
<p>Registration fees do not include insurance of any kind. It is strongly recommended that all delegates take out their own travel and medical insurance prior to coming to the Conference. The policy should include loss of fees / deposit through cancellation of your participation in the Conference, or through cancellation of the conference itself, loss of airfares for any reason, medical expenses, loss or damage to personal property, additional expenses and repatriation should travel arrangements have to be altered. Neither the Conference Secretariat nor the Organising Committee will take any responsibility for any participant failing to insure. Please speak to your travel agent or airline in regard to this matter.</p>
<h4>Meals & Special Dietary Requirements</h4>
<p>A variety of refreshment breaks and social functions will occur throughout the Conference. We recognise that some delegates may have special dietary requirements. Please advise the Conference Management Office via the registration form or in writing should you require alternative arrangements be made on your behalf.</p>
<h4>Messages</h4>
<p>Messages for delegates attending the conference will be placed on a message board at the conference registration desk. Please check these boards during your session breaks throughout the day.</p>
<h4>Photography</h4>
<p>During the conference and social functions there may be a photographer and/or videographer present to record the events. After the event, images may be posted on the conference website or used in future promotional materials. Please indicate you have read and understood this statement on the registration form when you register.</p>
<h4>Privacy</h4>
<p>In registering for the Conference, relevant details may be forwarded to the Organising Committee, Members and Sponsors. It is also intended to provide a delegate list for networking benefits. If you do not wish your details to be forwarded, please indicate so by ticking the relevant box on the registration form when you register.</p>
<h4>Smoking Policy</h4>
<p>The Victorian Government imposes a strict no smoking policy in venues, restaurants, bars and shopping centres.</p>