<h1>Program</h1>
<h2>Overview</h2>
<p>On behalf of the Organising Committee I invite you to submit an abstract to the Australian and New Zealand Association of Health Professional Educators Annual Conference in Melbourne from Monday the 24<sup>th</sup> to Thursday the 27<sup>th</sup> of June 2013. The theme of this year?s conference is the <strong>Professional Development of Health Professional Educators</strong>.  If we are to develop a competent and sustainable health workforce fit for our current and future health care needs it is critical that our response is underpinned by the development of a competent and sustainable educator workforce. The ANZAHPE 2013 conference will focus on the professional development of our teachers and examine effective approaches in health professional education including simulation, clinical supervision, peer learning, inter-professional learning, assessment and education research skills.  With the assistance of an outstanding international and local conference faculty the conference will offer a variety of stimulating activities for those involved in health professional education.<p>
<h3>Conference Theme</h3>
<p>Professional Development of Health Professional Educators</p>
<h3>Program Sub Themes</h3>
<ul>
  <li>Clinical Supervision</li>
  <li>Simulation</li>
  <li>Assessment</li>
  <li>Inter-professional learning</li>
  <li>Peer learning</li>
  <li>Research skills</li>
</ul>
<h3>Program Outline</h3>
<%= link_to "Download program outline (updated 19.03.13)", "/assets/ANZAHPE13-Program-190313.pdf", :class => 'document', :target => '_blank' %>
<p>This is a program outline is subject to change and will be updated regularly.</p>
<h2>Keynote Speakers</h2>
<p class="title">Dr Ian Curran</p>
<%= image_tag("Ian-Curran.jpg", :size => "173x260 ", :alt => "Dr Ian Curran", :class => 'profile') %>
<p><em>Head of Innovation & Associate Dean for Postgraduate Medicine<br>
  London Deanery</em></p>
<p>Dr Ian Curran is Dean of Educational Excellence and Head of Innovation at London Deanery. He is also the Clinical Lead for London's award winning Simulation and Technology enhanced Learning Initiative (STeLI).</p>
<p>STeLI promotes patient safety and excellence in education by harnessing advanced educational techniques and technologies such as simulation and e-learning. Dr Curran is a consultant anaesthetist with sub-speciality interest in chronic pain management at St Bartholomew's Hospital, where he is also Honorary Senior Lecturer in Medical Education and Senior Examiner at the Bart's and the London Hospital.</p>
<p class="title">Professor Timothy Dornan</p>
<%= image_tag("Tim-Dornan.jpg", :size => "173x260 ", :alt => "Prof Tim Doran", :class => 'profile') %>
<p><em>Professor of Medical Education<br>
  Department of Educational Development and Research, Faculty of Health, Medicine and Life Sciences
<br>Maastricht University</em></p>
<p>Tim Dornan is Professor of Medical Education at Maastricht University, the Netherlands, Honorary Professor at the University of Manchester, Honorary Visiting Professor at Peninsula Medical School, UK, a member of the Centre for Health Education Scholarship in the University of British Columbia, Canada, and a UK National Teaching Fellow. From a background in internal medicine and endocrinology, he completed a masters degree in health professions education in 2002 and a PhD on the topic of clinical workplace learning in 2006, both at Maastricht University.</p>
<p>He now works solely as an education researcher. He headed Manchester's medical education research group until his move to Maastricht in 2009. His interests include clinical workplace learning, sociocultural theory, qualitative research, and bibliographic methodology.</p>
<p class="title">Professor Charlotte Rees</p>
<%= image_tag("Charlotte-Rees.jpg", :size => "173x260 ", :alt => "Prof Charlotte Rees", :class => 'profile') %>
<p><em>Director, Centre for Medical Education<br>
  University of Dundee, UK</em></p>
<p>Charlotte Rees is a social scientist and educationalist by background.  She is Professor of Education Research and Director of the internationally renowned Centre for Medical Education at the University of Dundee, UK.</p>
<p>Charlotte has held previous positions as Associate Professor at the Sydney Medical School, University of Sydney, Australia; Senior Lecturer and Foundation Academic Lead for Human Sciences, Communication Skills and Professionalism at Peninsula Medical School, University of Exeter, UK; Lecturer at the Nottingham Medical School, University of Nottingham, UK.</p>
<p>For over 10 years, Charlotte has developed a program of research about patient-centered professionalism in medical education.  Her current and future plans for research include exploring healthcare students’ professionalism and professional identity formation and student-patient-tutor interaction in the healthcare workplace.  Although she has extensive experience with quantitative research methods, her methodological approach largely draws on qualitative methods currently.  Charlotte is particularly interested in innovations in qualitative data analysis in medical education research such as systematic metaphor, discourse and narrative analysis. She is Deputy Editor for one of the highest ranked education journals (scientific disciplines) <em>Medical Education</em> and has published over 60 articles across a broad range of journals including <em>Medical Education, Academic Medicine, Social Science & Medicine, Communication & Medicine and Qualitative Health Research.</em></p>
<p>As Professor of Education Research across the College of Medicine, Dentistry & Nursing, she provides strategic leadership for research, builds research capacity, creates effective research partnerships between CME/IHSE and organisations within and external to The University of Dundee, manages a comprehensive programme of educational research seminars and events through IHSE, and contributes to the research output of CME/IHSE.</p>
<p class="title">Professor David M. Irby, Ph.D.</p>
<p><em>Office of Research and Development<br>
Medical Education at UCSF</em></p>
<%= image_tag("David-Irby.jpg", :size => "173x260 ", :alt => "Prof Charlotte Rees", :class => 'profile') %>
<p>David M. Irby, PhD is a professor of medicine in the Division of General Internal Medicine and a research faculty member in the Office of Research and Development in Medical Education at UCSF. From 1997-2011, he served as vice dean for education and director of the Office of Medical Education in the UCSF School of Medicine. In addition, he was a senior scholar at The Carnegie Foundation for the Advancement of Teaching, where he co-directed a national study on the professional preparation of physicians that culminated in the 2010 publication: Educating Physicians: A Call for Reform of Medical School and Residency. Prior to joining UCSF in 1997, he was a professor of medical education at the University of Washington.</p>
<p>Over the past 40 years, his research has focused on clinical teaching (identifying and evaluating the characteristics, knowledge, reasoning, and actions of distinguished clinical teachers in medicine), faculty development, and curriculum change.</p>
<p>For his research and leadership in academic medicine, he has received awards from the Karolinska Institutet in Stockholm, the Association of American Medical Colleges, the American Educational Research Association, and the National Board of Medical Examiners among others.</p>
<p>He earned a doctorate in education from the University of Washington in 1997, a Masters of Divinity from Union Theological Seminary in 1970, and completed a postdoctoral fellowship in academic administration at Harvard Medical School in 1983.</p>
<h2>Pre-Conference Workshops</h2>
<p>Pre-Conference Workshops will be held on <strong>Monday 24th June</strong> at the Sebel, Albert Park. Workshop details and registrations will be updated via the conference website regularly.</p>
<h4>Workshop 1: 0900 – 1200</h4>
<p>Title to be confirmed<br>
  <em>Prof Charlotte Rees</em></p>
<p>Workshop Overview – to be confirmed</p>
<p class="notify">Cost: $88.00 per person</p>
<h4>Workshop 2: 0900 – 1200</h4>
<p>
  Learners in Difficulty - a Faculty Development Priority - Introduces Key Themes, Develops a Diagnostic and Management Framework.<br>
  <em>Dr Ian Curran</em>
</p>
<p>Workshop Overview – to be confirmed</p>
<p class="notify">Cost: $88.00 per person</p>
<h4>Workshop 3: 0900 – 1200</h4>
<p>Rethinking Feedback<br><em>A/Prof Elizabeth Molloy</em></p>
<p>We all experience the influence of feedback in our working lives, and there is strong evidence to suggest that it is an important mechanism in learning. Why is it then that learners complain more about feedback than any other element in their programs? This workshop explores the ‘problem of feedback’ and identifies and untangles some of the reasons as to why it is typically hard to give, hard to take, and hard to use. Analysis of feedback studies in health professions education and key conceptual frameworks will be presented to help distil the key properties needed for effective feedback.  Feedback is positioned as an activity for learners, rather than an act of ‘telling’ that is imposed on learners.  Participants will have an opportunity to rethink what practices may best benefit learners, and will experiment with these strategies.</p>
<p class="notify">Cost: $88.00 per person</p>
<h2>Call for Papers</h2>
<%= link_to "Download template examples", "/assets/Example-Template.pdf", :class => 'document', :target => '_blank' %>
<%= link_to "Download the brochure", "/assets/Call-for-Abstracts-Brochure.pdf", :class => 'document', :target => '_blank' %>
<h3>Abstract Submission</h3>
<p class="notify">Abstracts Submissions are now closed.</p>