<h1>Registration</h1>
<p class="notify">ANZAHPE invite delegates to register online.</p>
<p>On receipt of your confirmation letter it is advisable to check all items listed. Any changes or alternations must be made in writing to the Conference Management Office. Please note that registration fees does not include your travel to Melbourne, accommodation, pre & post touring, accompanying person?s activities and any expenses charged to the hotel room.</p>
<%= link_to "Download Registration Brochure v1", "/assets/ANZAHPE13-Registration-Brochure-v1.pdf", :class => 'document', :target => '_blank' %>
<table width="100%" class="striped">
  <tr valign="top">
    <caption>all prices are inclusive of GST.</caption>
    <th><br></th>
    <th>Early Bird <br><span class="cavet">(prior to 8 April)</span></th>
    <th>Standard</th>
  </tr>
  <tr>
    <td>Full Member Registration</td>
    <td align="center">$750</td>
    <td align="center">$850</td>
  </tr>
  <tr>
    <td>Non Member Registration</td>
    <td align="center">$950</td>
    <td align="center">$1050</td>
  </tr>
  <tr>
    <td>Member Day Registration</td>
    <td align="center">$360</td>
    <td align="center">$360</td>
  </tr>
  <tr>
    <td>Non Member Day Registration</td>
    <td align="center">$390</td>
    <td align="center">$390</td>
  </tr>
  <tr>
    <td>Student Full Registration</td>
    <td align="center">$325</td>
    <td align="center">$325</td>
  </tr>
  <tr>
    <td>Student Day Registration</td>
    <td align="center">$165</td>
    <td align="center">$165</td>
  </tr>
</table>
<h2>Entitlements</h2>
<table width="100%" class="striped">
  <tr valign="top">
    <th>Inclusions</th>
    <th width="17%">Full Delegates</th>
    <th width="17%">Day Delegate</th>
  </tr>
  <tr>
    <td>Conference Satchel</td>
    <td align="center">x</td>
    <td align="center">x</td>
  </tr>
  <tr>
    <td>Name Badge</td>
    <td align="center">x</td>
    <td align="center">x</td>
  </tr>
  <tr>
    <td>All Conference Publications</td>
    <td align="center">x</td>
    <td align="center">x</td>
  </tr>
  <tr>
    <td>Morning, Afternoon Tea Breaks and Lunches as per the Program</td>
    <td align="center">x</td>
    <td align="center">x<br><span class="cavet">(on registered day only)</span></td>
  </tr>
  <tr>
    <td>Welcome Reception</td>
    <td align="center">x</td>
    <td align="center"></td>
  </tr>
  <tr>
    <td>Conference Dinner</td>
    <td align="center">x</td>
    <td align="center"></td>
  </tr>
</table>
<h2>Pre-Conference Workshops</h2>
<table width="100%" class="striped">
  <caption>all prices are inclusive of GST.</caption>
  <tr>
    <th>Workshop</th>
    <th width="17%">Cost</th>
  </tr>
  <tr>
    <td>Workshop #1: Title to be confirmed</td>
    <td align="center">$88</td>
  </tr>
  <tr>
    <td>Workshop #2: Learners in Difficulty</td>
    <td align="center">$88</td>
  </tr>
  <tr>
    <td>Workshop #3: Rethinking Feedback</td>
    <td align="center">$88</td>
  </tr>
  <tr>
    <td>Workshop #4: Title to be confirmed</td>
    <td align="center">$88</td>
  </tr>
  <tr>
  	<td>Workshop #5: Teaching on the Run</td>
  	<td align="center">$88</td>
  </tr>
  <tr>
  	<td>Workshop #6: Theories that Inform Educational Practice</td>
  	<td align="center">$88</td>
  </tr>
</table>
<h2>Additional Social Function Tickets</h2>
<p>Social Function tickets may be purchased for delegate guests to attend various functions.</p>
<table width="100%" class="striped">
  <caption>all prices are inclusive of GST.</caption>
  <tr>
    <th>Function</th>
    <th>Date</th>
    <th width="17%">Cost</th>
  </tr>
  <tr>
    <td>Welcome Reception</td>
    <td>Monday 24 June</td>
    <td align="center">$66</td>
  </tr>
  <tr>
    <td>Conference Dinner</td>
    <td>Wednesday 26 June</td>
    <td align="center">$110</td>
  </tr>
</table>
<h2>Social Program</h2>
<h3>Welcome Reception</h3>
<h4>Monday 24 June, Alice The Sebel, Albert Park</h4>
<p>The welcome reception is a great opportunity to catch up with colleagues and old friends and also a wonderful opportunity to make new ones. The night will be designed for networking, meet and greet and a lovely relaxing way to start the conference.</p>
<p>Cost for this function is included in the full registration fee. Intention to attend this function must be indicated on the registration form.</p>
<p>Additional tickets can be purchased via the registration form.</p>
<h3>Conference Dinner</h3>
<h4>Wednesday 26 June, The Sebel, Albert Park</h4>
<p>The Conference Dinner will be held at The Sebel, Albert Park. A networking opportunity for delegates, the conference dinner will provide a 3 course meal with beer, wine and soft-drinks. The dinner will also include award presentations and entertainment.</p>
<p>Cost for this function is included in the full registration fee. Intention to attend this function must be indicated on the registration form.</p>
<p>Additional tickets can be purchased via the registration form.</p>
<h2>Accommodation</h2>
<p>Delegates can take advantage of in-house and local accommodation at special rates. We encourage delegates to book accommodation well in advance as there are strict release dates and a high demand for accommodation in the city especially during this period due to the Rugby World Cup.</p>
<h3>Rooms</h3>
<p>The following rooms are available:</p>
<ul>
  <li>The Citigate Guest Room - $170 per night (room only)</li>
  <li>The Sebel Guest Room - $180 per night (room only)</li>
</ul>
<p>Both rooms are available in either a single, twin or double and can be made to include a hot buffet breakfast with an additional fee.</p>
<ul>
  <li>"Double" refers to a room with a one double bed.</li>
  <li>"Twin" refers to a room with two beds.</li>
  <li>"Single" refers to a room with single occupancy.</li>
</ul>
<h3>Payment of Accommodation</h3>
<p>Accommodation accounts are to be settled by the individual direct with the hotel/property. The Conference will ONLY accept credit card details for accommodation as a method of securing the room. The credit card details are passed on to the hotel as security for your room and the first night of accommodation may be applied to guarantee your booking. This will be done by the hotel. All accommodation rates are quoted in AUD dollars. Accommodation is charged on a per room basis, not per person.</p>
<p>Please specify your room type on the online booking form where indicated. Accommodation rates are for room only and do not include breakfast.</p>
<h3>Deadlines</h3>
<p>The hotels impose strict cut off dates for bookings. All hotel rooms will be released by Tailored Statements by 23 May 2013. For accommodation bookings after this time, will be on request only and will be subject to availability.</p>
<h3>Cancellation Policy</h3>
<p>Any changes to your original booking information must be forwarded in writing to the Conference Management Office via email <%= mail_to 'info@tailoredstatements.com.au' %></p>
<h2>Payment</h2>
<ul>
  <li>Registrations will be accepted online via the Conference website - anzahpe13.com</li>
  <li>All amounts are in Australian Dollars. Overseas registrants should arrange payment via credit card.</li>
  <li>Registration fees may be paid by MasterCard and Visa. Diners and AMEX are not accepted.</li>
  <li>Delegates will receive a confirmation email or letter which will include a tax invoice.</li>
</ul>
<h3>Good and Services Tax</h3>
<p>A Tax invoice will be issued upon registration and this can be given to the Accounts Department for GST records. On processing the registration form, the Tax Invoice will be in the name of the delegate unless otherwise requested. Reprints for Tax invoices will be subject to a $25 Administration fee.</p>
<h3>Cancellation Policy</h3>
<p>All cancellations of attendance must be made in writing to the <%= link_to 'Conference Management Office', main_contact_path %>.</p>
<ul>
  <li>A full refund, less a cancellation fee of $150 will be made on those received before 8 April 2013.</li>
  <li>No refund will be made after 8 April 2013.</li>
  <li>All refunds will be paid after the conclusion of the Conference.</li>
</ul>
<%= link_to 'Click for Full Registration', 'https://www.conferenceonline.com/index.cfm?page=booking&object=conference&id=17329&categorykey=59422A4E%2DFA89%2D467F%2D9C12%2DD9951F06CAE8&clear=1', :class => 'button', :target => '_blank' %>
<%= link_to 'Click for Day Registration', 'https://www.conferenceonline.com/index.cfm?page=booking&object=conference&id=17329&categorykey=19281311%2D4711%2D46CA%2DAB92%2D3221F56E7422&clear=1', :class => 'button', :target => '_blank' %>