<h1>Sponsors</h1>
<h2>Sponsorship & Exhibition Opportunities</h2>
<p>The sponsorship of the ANZAHPE Conference provides a unique opportunity for your organisation. Sponsorship and exhibition opportunities are now open. For further information please contact the <%= link_to "Conference Management Office", main_contact_path %>.</p>
<p>The Organising Committee would like to acknowledge the following sponsors
for their partnership in ANZAHPE 13.</p>
<%= link_to("http://www.flinders.edu.au", :target => '_blank') do %>
  <div class="sponsor flinders first">
    <h2>Platinum Sponsor</h2>
    <p>Master of Clinical Education, Flinders University</p>
  </div>
<% end %>
<%= link_to("http://www.monash.edu.au", :target => '_blank') do %>
  <div class="sponsor monash">
    <h2>Platinum Sponsor</h2>
    <p>Monash University</p>
  </div>
<% end%>
<%= link_to("http://unimelb.edu.au", :target => '_blank') do %>
  <div class="sponsor unimelb">
    <h2>Platinum Sponsor</h2>
    <p>The University of Melbourne</p>
  </div>
<% end %>
<%= link_to "Download the sponsorship and exhibition prospectus", "/assets/ANZAHPE13-Sponsorship&Exhibition-Packages.pdf", :class => 'document', :target => '_blank' %>