<h1>Sponsors</h1>
<h2>Sponsorship & Exhibition Opportunities</h2>
<p>The sponsorship of the ANZAHPE Conference provides a unique opportunity for your organisation. Sponsorship and exhibition opportunities are now open. For further information please contact the <%= link_to "Conference Management Office", main_contact_path %>.</p>
<%= link_to "Download the sponsorship and exhibition prospectus", "/assets/ANZAHPE13-Sponsorship&Exhibition-Packages.pdf", :class => 'document', :target => '_blank' %>
<p>The Organising Committee would like to acknowledge the following sponsors
for their partnership in ANZAHPE 13.</p>
<%= link_to("http://www.flinders.edu.au", :target => '_blank') do %>
  <div class="sponsor flinders first">
    <h2>Platinum Sponsor</h2>
    <p>Master of Clinical Education, Flinders University</p>
  </div>
<% end %>
<%= link_to("http://www.monash.edu.au", :target => '_blank') do %>
  <div class="sponsor monash">
    <h2>Platinum Sponsor</h2>
    <p>Monash University<br>
      Gippsland Medical School,<br>
      School of Rural Health
    </p>
  </div>
<% end%>
<%= link_to("http://unimelb.edu.au", :target => '_blank') do %>
  <div class="sponsor unimelb">
    <h2>Platinum Sponsor</h2>
    <p>The University of Melbourne</p>
  </div>
<% end %>
<%= link_to("http://www.deakin.edu.au", :target => '_blank') do %>
  <div class="sponsor deakin first">
    <h2>Platinum Sponsor</h2>
    <p>Deakin University</p>
  </div>
<% end %>
<%= link_to("http://www.monash.edu.au", :target => '_blank') do %>
  <div class="sponsor monash">
    <h2>Platinum Sponsor</h2>
    <p>Monash University<br>
      HealthPEER (Health Professions Education and Educational Research)
    </p>
  </div>
<% end %>
<%= link_to("http://www.hwa.gov.au", :target => '_blank') do %>
  <div class="sponsor hwa">
    <h2>GOLD Sponsor</h2>
    <p>Health Workforce Australia</p>
  </div>
<% end %>
<%= link_to("http://www.pcc4u.org", :target => '_blank') do %>
  <div class="sponsor pcc4u first">
    <h2>Silver Sponsor</h2>
    <p>PCC4U Project</p>
  </div>
<% end %>
<%= link_to("http://www.tellcentre.org", :target => '_blank') do %>
  <div class="sponsor tell">
    <h2>Silver Sponsor</h2>
    <p>University of Western Australia/TELL Project</p>
  </div>
<% end %>

<hr>
