<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Australian & New Zealand Association for Health Professional Educators (ANZAHPE) 2013 Conference</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=1040" />
</head>
<body>
  <div id="nav">
    <%= link_to main_program_path, :id => 'program', :class => current_page?(main_program_path) ? 'current' : '' do %>
      <h2>Program</h2>
    <% end %>
    <%= link_to main_sponsors_path, :id => 'sponsors', :class => current_page?(main_sponsors_path) ? 'current' : '' do %>
      <h2>Sponsors</h2>
    <% end %>
    <%= link_to main_register_path, :id => 'register', :class => current_page?(main_register_path) ? 'current' : '' do %>
      <h2>Register</h2>
    <% end %>
    <%= link_to main_host_path, :id => 'host', :class => current_page?(main_host_path) ? 'current' : '' do %>
      <h2>Host</h2>
    <% end %>
    <%= link_to main_contact_path, :id => 'contact', :class => current_page?(main_contact_path) ? 'current' : '' do %>
      <h2>Contact</h2>
    <% end %>
  </div>
  <div id="header">
    <%= link_to(main_index_path, :class => '') do %>
      <%= image_tag("ANZAHPE-2013-logo.png", :size => "330x246 ", :alt => "ANZAHPE Logo", :id => 'logo') %>
    <% end %>
  </div>
  <div id="content">

    <%= yield %>

  </div>
</body>
</html>