<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>ANZAHPE 2013 Conference</title>
  <meta name="description" content="Australian and New Zealand Association of Health Professional Educators Annual Conference in Melbourne from Monday the 24th to Thursday the 27th of June 2013.">
  <meta name="keywords" content="anzahpe, australia, australian, new zealand, health, education, professional development">
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=1040" />
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36579772-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<a href='#' id='gotop'>Scroll to Top</a>
<body>
  <div id="nav">
    <%= link_to main_program_path, :id => 'program', :class => current_page?(main_program_path) ? 'current' : '' do %>
      <h2>Program</h2>
    <% end %>
    <%= link_to main_sponsors_path, :id => 'sponsors', :class => current_page?(main_sponsors_path) ? 'current' : '' do %>
      <h2>Sponsors</h2>
    <% end %>
    <%= link_to main_register_path, :id => 'register', :class => current_page?(main_register_path) ? 'current' : '' do %>
      <h2>Register</h2>
    <% end %>
    <%= link_to main_host_path, :id => 'host', :class => current_page?(main_host_path) ? 'current' : '' do %>
      <h2>Host</h2>
    <% end %>
    <%= link_to main_contact_path, :id => 'contact', :class => current_page?(main_contact_path) ? 'current' : '' do %>
      <h2>Contact</h2>
    <% end %>
  </div>
  <div id="header">
    <%= link_to(main_index_path, :class => '') do %>
      <%= image_tag("ANZAHPE-2013-logo.png", :size => "330x246 ", :alt => "ANZAHPE Logo", :id => 'logo') %>
    <% end %>
  </div>
  <div id="content">

    <%= yield %>

  </div>
</body>
</html>